@import '../../../../styles/variables/variables';

.wrapper {
  margin: 31px 0 90px;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box {
  margin: 10px 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  @extend %h2;
}

.filters {
  display: flex;
  gap: 30px;
}

.slider {
  padding-bottom: 110px;
}

.navSlider {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;

  & button {
    position: relative;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $purple-200;
    box-shadow: none;
    transition: background-color .3s;

    &:hover {
      background-color: $deep-purple-opacity-200;
    }
  }

  & i {
    background-color: $purple-200;
  }

}

.offers {
  display: flex;
  align-items: center;
}

.bigText {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: $black;

  & span {
    color: $purple-200;
  }
}

.smallText {
  margin-top: 5px;
  @extend %base-text;
  font-weight: 500;
  color: $light-gray-300;
  opacity: 0.6;
}

.button {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 25px;
  margin-left: 30px;
  border-left: 1px solid rgba(102, 78, 249, 0.1);

  & button {
    box-shadow: 0 15px 40px rgba(0, 96, 206, 0.15);
  }
}
