@import 'src/styles/variables/variables';

.item {
  position: relative;
}

.link {
  padding: 11px 0;
  @extend %base-text;
  color: $light-gray-300;
  transition: color 0.3s ease-out;

  &.primary {
    display: flex;
    align-items: center;
    padding: 21px 0;
    font-weight: 600;
    color: $black;
  }

  &.active,
  &:hover {
    position: relative;
    color: $black;

    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 3px;
      background-color: $yellow-100;
    }
  }

  & > svg {
    margin-right: 5px;
  }

  & span ~ svg {
    margin: 0 0 0 15px;
  }
}
