@import '../../../styles/variables/variables';

.card {
  width: 100%;
  max-width: 406px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  filter: drop-shadow(0 20px 40px rgba(135, 124, 202, 0.15));
  background-color: white;
}

.imgBox {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background: $light-gray-150;
  border-radius: 10px;
}

.swiper, .img {
  border-radius: 10px;
  height: 226px;
}

.swiper {
  & .swiper-button-prev {
    width: 30px;
    height: 30px;
    background-color: white;
  }
}

.img {
  width: 100%;
  object-fit: contain;
}

.label {
  position: absolute;
  right: 0;
  padding: 7px 12px;
  border-radius: 0 10px 10px 10px;
  text-transform: capitalize;
  text-shadow: 0 1px 0 rgba(147, 79, 0, 0.3);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  z-index: 10;

  &.gold {
	background: linear-gradient(106.06deg, #ffd54f 1.12%, #fec100 97.96%);
	color: white;
  }
}

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 16px 20px 13px;
}

.priceBox {
  display: flex;
  flex-direction: column;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $purple-200;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.priceText {
  @extend %base-text;
  color: $light-gray-200;
}

.labelBox {
  display: flex;
  gap: 7px;
}

.header {
  padding-top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: $black;
}

.locationBox {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 15px;
  row-gap: 11px;
  column-gap: 30px;
}

.location {
  display: flex;
  align-items: center;

  & > svg {
	margin-right: 6px;
  }
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: black;
}

.othersBox {
  padding-top: 2px;
  display: flex;
  gap: 19px;

  & .text {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: $black;
	white-space: nowrap;
  }
}

.description {
  flex-grow: 1;
  padding-bottom: 13px;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 15px;
  color: $light-gray-300;
  border-bottom: 1px solid $light-gray-150;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
