@import 'src/styles/variables/variables';

.auth,
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth {
  width: max-content;
  align-self: center;
  margin: 100px auto;
  padding: 50px;
  background-color: white;
  box-shadow: 0 20px 40px rgba(39, 95, 158, 0.2);
  border-radius: 10px;
}

.header {
  @extend %h2;
  margin-bottom: 15px;
}

.text {
  max-width: 306px;
  width: 100%;
  text-align: center;
  @extend %base-text;
  font-weight: 400;
  color: $gray-100;
}

a.text {
  color: $purple-200;
  font-weight: 500;
  transition: color 0.3s;
  text-align: end;

  &:hover {
    color: $yellow-300;
  }
}

.regBox {
  max-width: 388px;
  width: 100%;
  margin-left: 50px;
}

.baseText {
  font-size: 14px;
  line-height: 150%;
  color: $gray-100;
}

.wrapper {
  display: flex;
}

.form {
  margin: 35px 0 50px;
  max-width: 306px;
  width: 100%;
  gap: 20px;

  & button {
    margin-top: 18px;
  }
}

.box {
  display: flex;
  justify-content: space-between;
  width: 100%;

  p.text {
    margin-left: 8px;
    white-space: nowrap;
  }
}

.reg {
  .header {
    align-self: flex-start;
    margin: 0 0 30px 72px;
  }

  .form {
    margin-top: 0;
  }

  .text {
    text-align: left;
  }

  button {
    margin-top: 0;
  }
}

.textItems {
  margin-bottom: 70px;

  li {
    list-style: disc inside none;

    .baseText {
      position: relative;
      margin-left: -12px;
    }
  }
}

.confirm {
  max-width: 406px;
  width: 100%;

  .header {
    margin-bottom: 20px;
    text-align: center;
  }

  button {
    margin-top: 22px;
  }
}
