@import '../../../styles/variables/variables';

.content {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: underline;
  }
}

.header,
.contentText,
.baseText,
.smallText {
  color: white;
}

.header {
  @extend %h1;
  margin-bottom: 30px;
}

.contentText {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.infoBox {
  margin: 30px 0;

  &Wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    gap: 20px;
  }
}

.baseText {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.smallText {
  font-size: 14px;
  line-height: 150%;
}

.commentBox {
  position: relative;
  margin-top: 39px;
  padding: 21px 32px 21px 28px;
  background: rgba(80, 57, 189, 0.5);
  border-radius: 10px;
}

.maskIcon {
  margin-left: 57px;

  &:before {
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translate(0, -50%);
    content: '';
    width: 35px;
    height: 35px;
    mask-image: url('../../../../public/assets/svg/exclamation-mark.svg');
    background-color: #5039bd;
  }
}
