@import '../../../styles/variables/variables';

.wrapper {
  display: flex;
  align-items: center;

  &.base {
    .icon {
      margin-left: 22px;

      &:first-of-type {
        margin-left: 28px;
      }
    }
  }

  &.circle {
    .icon {
      margin-bottom: 15px;
      padding: 13px;
      background-color: $gray-200;
      border-radius: 25px;
    }
  }
}

.vertical {
  flex-direction: column;
}

.text {
  color: $black;
}
