.logo {
  width: 134px;
  height: 19px;
  margin-right: 84px;
}

.card {
  margin-right: 15px;
}

.visa {
  width: 42px;
  height: 13px;
}

.mastercard {
  width: 28px;
  height: 20px;
}

.belkart {
  width: 22px;
  height: 30px;
}

.verified {
  width: 38px;
  height: 16px;
}

.securecode {
  width: 46px;
  height: 16px;
}

.webpay {
  width: 86px;
  height: 16px;
}

.newsItemImg {
  width: 406px;
  height: 228px;
  border-radius: 10px;
}
