@import '../../../styles/variables/variables';

.search {
  position: relative;
}

.input {
  width: 616px;
  padding: 9px 21px 11px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 96, 206, 0.05);
  border-radius: 20px;
  border: none;
  @extend %base-text;
  color: $dark-gray;
}

.button{
  position: absolute;
  right: 0;
  padding: 10px 18px;
  background-color: $purple;
  border-radius: 19px;
  border: none;
  cursor: pointer;
}

.iconZoom{
  height: 17px;
  width: 17px;
  mask-image: url('../../../assets/svg/zoom.svg');
  mask-size: cover;
  background-color: white;
}
