@import '../../styles/variables/variables';

.list {
  display: flex;

  .item{
	margin-right: 56px;
	cursor: pointer;

	&.bold {
	  display: flex;
	  align-items: center;
	  margin-right: 80px;
	}

	& > svg{
	  margin-right: 5px;
	}

	&Link{
	  @extend %base-text;
	  color: $blue-gray;

	  &.bold {
		font-weight: 600;
		color: $black;
	  }

	  &.active {
		color: $black;
	  }

	  & ~ svg {
		margin: 0 0 0 15px;
	  }
	}

	&.active {
	  position: relative;

	  &:after {
		position: absolute;
		left: 0;
		bottom: -11px;
		content: '';
		width: 100%;
		height: 3px;
		background-color: $yellow;
	  }
	}
  }
}
