$light-gray-100: #f8f8f8;
$light-gray-120: #f5f3ff;
$light-gray-150: #e4e2e2;
$light-gray-200: #bdbdbd;
$light-gray-300: #8291a3;
$gray-100: #686868;
$gray-200: rgba(255, 255, 255, 0.1);
$deep-gray-100: #333;
$black: #1e2123;
$purple-100: #4e64f9;
$purple-200: #664ef9;
$purple-300: #612bfb;
$purple-opacity-100: rgba(102, 78, 249, 0.8);
$deep-purple-opacity-100: rgba(45, 57, 136, 0.5);
$deep-purple-opacity-200: rgba(102, 78, 249, 0.1);
$yellow-opacity-100: rgba(255, 213, 79, 0.1);
$yellow-opacity-200: rgba(255, 213, 79, 0.2);
$yellow-100: #ffd54f;
$yellow-200: #fec100;
$yellow-300: #feb700;
$red-100: #eb5757;
$red: red;
$red-opacity: rgba(235, 87, 87, 0.1);

%base-text {
  font-size: 14px;
  line-height: 17px;
}

%h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  color: $black;
}

%h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $black;
}

%dots {
  position: absolute;
  width: 68px;
  height: 68px;
  background-image: url('../../../public/assets/svg/dots.svg');
}
