$gray: #f8f8f8;
$blue-gray: #8291a3;
$dark-gray: #686868;
$black: #1e2123;
$purple-light: #4E64F9;
$purple: #664ef9;
$light-purple: rgba(102, 78, 249, 0.1);
$yellow: #ffd54f;
$yellow-dark: #FEC100;

%base-text {
  font-size: 14px;
  line-height: 17px;
}

%h1{
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  color: $black;
}
