@import '../../../../styles/variables/variables';

.wrapper {
  margin: 135px 0 110px;
  display: flex;
}

.box {
  margin-top: 33px;
}

.text {
  font-size: 14px;
  line-height: 150%;
  color: $black;
  white-space: pre-wrap;
}
