@import '../../styles/variables/variables';

.wrapper {
  display: flex;
  align-items: center;
}

.text {
  color: $black;
}

.icon {
  margin-left: 22px;

  &:first-of-type {
    margin-left: 28px;
  }
}


