@import '../../styles/variables/variables';

.footer {
  padding: 39px 0 50px;
  background-color: white;
  box-shadow: 0 -11px 40px rgba(39, 95, 158, 0.05);
}

.wrapper {
  display: flex;
}

.textLogo, .textSmall {
  color: $light-gray-300;
}

.text {
  color: $black;
}

.textLogo {
  margin: 10px 0 36px;
  font-size: 12px;
  line-height: 15px;
  color: $light-gray-300;
  text-transform: uppercase;
}

.textSmall {
  font-size: 11px;
  line-height: 13px;
}

.textWrapper {
  max-width: 297px;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &:first-of-type {
	margin-right: 30px;
  }

  &:last-of-type {
	margin-right: 80px;
  }
}

.infoWrapper {
  display: flex;
  justify-content: space-between;

  &:first-of-type {
	margin-bottom: 47px;
  }
}
