@import '../../styles/variables/variables';

.news {
  margin: 45px auto 100px;

  &Box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-bottom: 80px;
  }
}

.headerBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.header {
  @extend %h1;
}
