@import-normalize;
@import 'src/styles/variables/variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

body,
input,
button,
textarea {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $gray-100;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}

header,
footer {
  flex: 0 0 auto;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex: 1 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

.text {
  @extend %base-text;
}

/*Swiper*/
.swiper-pagination-bullet {
  background: #c5c5c5 !important;
  opacity: 0.5;

  &.swiper-pagination-bullet-active {
    background: white !important;
  }
}
